MONGO_URI=your_mongodb_connection

NIBSS_BASE_URL=https://nibssbyphoenix.onrender.com

NIBSS_API_KEY=your_api_key

NIBSS_API_SECRET=your_api_secret

NIBSS_TOKEN=your_generated_token

BANK_CODE=310

BANK_NAME=REA Bank